:root {
  --clr-purple: hsl(259, 100%, 65%);
  --clr-red: hsl(0, 100%, 67%);
  --clr-white: hsl(0, 0%, 100%);
  --clr-offwhite: hsl(0, 0%, 94%);
  --clr-grey: hsl(0, 1%, 44%);
  --clr-ltgrey: hsl(0, 0%, 86%);
  --clr-black: hsl(0, 0%, 8%);

  --fs-input: 2rem;
  --ff-reg: "Poppins", sans-serif;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--ff-reg);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
